a {
  text-decoration: none;
}

.main-title {
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}

.main-text {
  font-size: 20px;
  line-height: 23px;
  color: #888888;
}

.title {
  font-size: 45px;
  line-height: 53px;
  color: #000000;
}

.text {
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.title-sm {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.text-sm {
  font-size: 15px;
  line-height: 150%;
  color: #666666;
}

.btn {
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 16px 30px;
  background: #F25822;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn:hover {
  -webkit-box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
          box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
}

.unactive {
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.container .header__logo a img {
  max-width: 136;
  width: 100%;
  height: auto;
}

.container .header__nav .closing-icon {
  max-width: 30px;
  height: auto;
  width: 100%;
  display: none;
}

.container .header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header__nav--list-items {
  list-style-type: none;
  margin-left: 34px;
}

.container .header__nav--list-items::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #F25822;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .header__nav--list-items:hover::after {
  width: 100%;
}

.container .header__nav--list-items .nav-items {
  font-size: 14px;
  line-height: 16px;
  color: #888888;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .header__nav--list-items .nav-items button {
  font-size: 12px;
}

.container .header .menu-icon {
  max-width: 30px;
  width: 100%;
  height: auto;
  display: none;
}

.container .main-section {
  padding: 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
}

.container .main-section__content h1 {
  margin-bottom: 18px;
}

.container .main-section__content p {
  margin-bottom: 36px;
}

.container .main-section__content_btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-section__content_btn-row_mr {
  margin-right: 28px;
}

.container .main-section__photo img {
  max-width: 840px;
  width: 100%;
  height: auto;
}

.container .partners-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px 0;
}

.container .partners-section img {
  max-width: 140px;
  width: 100%;
  height: auto;
}

.solution-section {
  background-image: url("/img/solution-back-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  padding: 10px 0;
  background-color: #FAFAFA;
}

.solution-section .container .solution-section__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solution-section .container .solution-section__wrapper_content h2 {
  margin-bottom: 20px;
}

.solution-section .container .solution-section__wrapper_content p {
  margin-bottom: 36px;
}

.solution-section .container .solution-section__wrapper_content button {
  background: #F25822;
}

.solution-section .container .solution-section__wrapper_photo img {
  max-width: 800px;
  width: 100%;
  height: auto;
}

.container .opportunity-sec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  padding: 100px 0;
}

.container .opportunity-sec__item {
  padding: 28px;
  text-align: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.container .opportunity-sec__item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.container .opportunity-sec__item h3 {
  margin-top: 24px;
  margin-bottom: 18px;
}

.container .opportunity-sec__item p {
  margin-bottom: 26px;
}

.choice-sec {
  background-color: #FAFAFA;
  padding: 100px 0;
}

.choice-sec .container .choice-sec__content {
  text-align: center;
}

.choice-sec .container .choice-sec__content .text_ma {
  width: 60%;
  margin: 20px auto 50px;
}

.choice-sec .container .choice-sec__content_blogs-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog {
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 20px 0 50px;
}

.choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog:hover {
  -webkit-box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog_context h3 {
  margin-bottom: 16px;
}

.choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog_context p {
  margin-bottom: 20px;
}

.container .questioning-sec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 46% 42%;
      grid-template-columns: 46% 42%;
  grid-gap: 12%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.container .questioning-sec__photo {
  position: relative;
}

.container .questioning-sec__photo img {
  position: absolute;
  top: -434px;
  z-index: -1;
  left: -28%;
}

.container .questioning-sec__content {
  text-align: left;
}

.container .questioning-sec__content h2 {
  margin-bottom: 20px;
}

.container .questioning-sec__content .text-mb {
  margin-bottom: 60px;
}

.container .questioning-sec__content_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 18px 0 18px 30px;
  margin-top: 40px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: white;
}

.container .questioning-sec__content_item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.container .questioning-sec__content_item .smm-icon {
  margin-right: 30px;
}

.container .questioning-sec__content_item .smm-icon svg {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.container .questioning-sec__content_item-text h4 {
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 8px;
}

.container .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 70px;
  border: 2px solid #EEEEEE;
}

.container .statistics__item {
  text-align: center;
}

.container .statistics__item h2 {
  font-size: 70px;
  line-height: 150%;
  color: #666666;
}

.container .statistics__item p {
  font-size: 18px;
  line-height: 150%;
  color: #666666;
}

.container .website-speed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .website-speed__content p {
  margin-top: 12px;
  margin-bottom: 40px;
}

.container .website-speed__content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .website-speed__content form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .website-speed__content form .inputs input {
  font-size: 11px;
  line-height: 150%;
  color: #666666;
  background: #EEEEEE;
  padding: 16px 20px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.container .website-speed__content form .inputs .input-r {
  border-radius: 50px 0 0 50px;
}

.container .website-speed__content form .inputs .input-l {
  border-radius: 0 50px 50px 0;
}

.container .website-speed__content form button {
  margin-left: 30px;
}

.container .website-speed__photo img {
  max-width: 900px;
  width: 100%;
}

.plans {
  background: #FAFAFA;
  text-align: center;
  padding: 100px 0;
}

.plans .container .plans__blog {
  margin-top: 86px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 31% 31% 31%;
      grid-template-columns: 31% 31% 31%;
  grid-gap: 30px;
}

.plans .container .plans__blog_item {
  padding: 60px 70px;
  background: #FFFFFF;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.plans .container .plans__blog_item:hover {
  -webkit-box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
          box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.plans .container .plans__blog_item:hover h3 {
  color: #F25822;
}

.plans .container .plans__blog_item:hover button {
  background: #F25822;
  -webkit-box-shadow: 4px 4px 10px rgba(242, 88, 34, 0.25);
          box-shadow: 4px 4px 10px rgba(242, 88, 34, 0.25);
  color: #FFFFFF;
}

.plans .container .plans__blog_item h3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.plans .container .plans__blog_item p span {
  font-size: 70px;
  line-height: 150%;
  color: #000000;
}

.plans .container .plans__blog_item p sup {
  position: relative;
  top: -30px;
}

.plans .container .plans__blog_item .text-sm {
  line-height: 250%;
  margin-bottom: 30px;
}

.plans .container .plans__blog_item button {
  background: rgba(242, 88, 34, 0.25);
  color: #F3602D;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .experts {
  padding: 100px 0;
  text-align: center;
}

.container .experts h2 {
  margin-bottom: 20px;
}

.container .experts .text-m {
  width: 38%;
  margin: 20px auto 52px;
}

.container .experts__profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.container .experts__profile_item {
  padding: 50px 60px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 1.01s;
  transition: 1.01s;
}

.container .experts__profile_item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
}

.container .experts__profile_item:hover h4 {
  color: #F25822;
}

.container .experts__profile_item:hover .experts__profile_item--social-media .facebook path {
  fill: #3b5998;
}

.container .experts__profile_item:hover .experts__profile_item--social-media .twitter path {
  fill: #1DA1F2;
}

.container .experts__profile_item:hover .experts__profile_item--social-media .linkedin path {
  fill: #0e76a8;
}

.container .experts__profile_item:hover .experts__profile_item--social-media .google path {
  fill: #4285f4;
}

.container .experts__profile_item img {
  max-width: 130px;
  width: 100%;
  height: auto;
}

.container .experts__profile_item h4 {
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  margin: 20px auto 6px;
  -webkit-transition: 1.01s;
  transition: 1.01s;
}

.container .experts__profile_item p {
  font-size: 13px;
  line-height: 150%;
  color: #888888;
  margin-bottom: 30px;
}

.container .experts__profile_item--social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-transition: 1.01s;
  transition: 1.01s;
}

.container .experts__profile_item--social-media .facebook {
  -webkit-transition: 1.01s;
  transition: 1.01s;
}

.container .experts__profile_item--social-media .twitter {
  -webkit-transition: 1.01s;
  transition: 1.01s;
}

.container .experts__profile_item--social-media .linkedin {
  -webkit-transition: 1.01s;
  transition: 1.01s;
}

.container .experts__profile_item--social-media .google {
  -webkit-transition: 1.01s;
  transition: 1.01s;
}

.carousel-wrapper {
  padding: 70px 0;
  text-align: center;
}

.carousel-wrapper h2 {
  margin-bottom: 20px;
}

.carousel-wrapper .text-m {
  width: 32%;
  margin: 25px auto;
}

.carousel-wrapper .text-m_l {
  width: 40%;
  margin: auto;
}

.carousel-wrapper .carousel {
  margin: 40px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.carousel-wrapper .carousel__item {
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  padding: 25px 30px;
  cursor: pointer;
  overflow-x: hidden;
  -webkit-transition: 1.01s;
  transition: 1.01s;
}

.carousel-wrapper .carousel__item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
}

.carousel-wrapper .carousel__item p {
  margin-bottom: 26px;
}

.carousel-wrapper .carousel__item img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.carousel-wrapper .carousel__item h4 {
  font-size: 13px;
  line-height: 150%;
  color: #000000;
}

.footer {
  background: #F3F3F3;
  padding: 100px 0 40px;
}

.footer .container {
  text-align: center;
}

.footer .container .footer-container {
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 55px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.footer .container .footer-container .footer__list .first-item {
  list-style-type: none;
  margin-bottom: 40px;
  font-weight: bold;
}

.footer .container .footer-container .footer__list_item {
  margin-bottom: 20px;
}

.footer .container .footer-container .footer__list_item span {
  font-weight: bolder;
  color: black;
}

.footer .container .footer-container .footer__list_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer-container .footer__list-stye_none .footer__list_item {
  list-style-type: none;
}

@media (min-width: 992.5px) and (max-width: 1200px) {
  .d-none {
    display: none;
  }
  .container {
    max-width: 1140px;
    padding: 0 20px;
  }
  .container .questioning-sec {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 57% 43%;
        grid-template-columns: 57% 43%;
    grid-gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0;
  }
  .container .questioning-sec__photo {
    position: relative;
  }
  .container .questioning-sec__photo img {
    position: absolute;
    top: -154px;
    z-index: 0;
    left: -5%;
    max-width: 950px;
    width: 100%;
  }
  .plans .container .plans__blog_item {
    padding: 60px 50px;
  }
  .carousel-wrapper .carousel {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768.5px) and (max-width: 992px) {
  .d-none {
    display: none;
  }
  .main-title-rwd {
    font-size: 45px;
  }
  .main-text-rwd {
    font-size: 16px;
  }
  .title-rwd {
    font-size: 30px;
    line-height: 44px;
  }
  .title-sm-rwd {
    font-size: 18px;
  }
  .text-sm-rwd {
    font-size: 13px;
  }
  .text-rwd {
    font-size: 14px;
  }
  .container {
    max-width: 960px;
  }
  .container .header__nav {
    display: none;
  }
  .container .header .menu-icon {
    display: block;
  }
  .container .questioning-sec {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 57% 43%;
        grid-template-columns: 57% 43%;
    grid-gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0;
  }
  .container .questioning-sec__photo {
    position: relative;
  }
  .container .questioning-sec__photo img {
    position: absolute;
    top: -154px;
    z-index: 0;
    left: -5%;
    max-width: 950px;
    width: 100%;
  }
  .container .questioning-sec__content .text-mb {
    margin-bottom: 40px;
  }
  .container .questioning-sec__content_item {
    margin-top: 30px;
  }
  .container .questioning-sec__content_item-text h4 {
    font-size: 18px;
  }
  .container .questioning-sec__content_item-text p {
    font-size: 12px;
  }
  .container .experts__profile {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .carousel-wrapper .carousel {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .plans .container .plans__blog_item {
    padding: 50px 40px;
  }
  .container .opportunity-sec {
    grid-gap: 30px;
  }
  .container .opportunity-sec__item {
    padding: 18px;
  }
}

@media (min-width: 576.5px) and (max-width: 768px) {
  .d-none {
    display: none;
  }
  .main-title-rwd {
    font-size: 36px;
  }
  .main-text-rwd {
    font-size: 14px;
  }
  .title-rwd {
    font-size: 30px;
    line-height: 44px;
  }
  .title-sm-rwd {
    font-size: 18px;
  }
  .text-sm-rwd {
    font-size: 13px;
  }
  .text-rwd {
    font-size: 14px;
  }
  .btn {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 20px;
  }
  .container {
    max-width: 740px;
  }
  .container .header__nav {
    display: none;
  }
  .container .header .menu-icon {
    display: block;
  }
  .container .main-section__content_btn-row_mr {
    margin-right: 10px;
  }
  .container .partners-section {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .solution-section {
    background-image: none;
    padding-top: 40px;
  }
  .solution-section .container .solution-section__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .container .opportunity-sec {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 30px 0;
  }
  .container .opportunity-sec__item {
    padding: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
  }
  .container .opportunity-sec__item_context h3 {
    margin-top: 0px;
  }
  .container .opportunity-sec__item_context p {
    margin-bottom: 26px;
  }
  .container .opportunity-sec__item_context a {
    font-size: 14px;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 56%;
        grid-template-columns: 40% 56%;
    grid-gap: 4%;
    padding: 20px 20px 50px;
    text-align: left;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog_context h3 {
    margin-bottom: 20px;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog_context p {
    margin-bottom: 30px;
  }
  .container .questioning-sec {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0;
  }
  .container .questioning-sec__photo {
    position: relative;
  }
  .container .questioning-sec__photo img {
    position: initial;
    top: 0;
    z-index: 0;
    left: 0;
    max-width: 950px;
    width: 100%;
  }
  .container .questioning-sec__content .text-mb {
    margin-bottom: 40px;
  }
  .container .questioning-sec__content_item {
    margin-top: 30px;
  }
  .container .questioning-sec__content_item-text h4 {
    font-size: 18px;
  }
  .container .questioning-sec__content_item-text p {
    font-size: 12px;
  }
  .container .statistics {
    padding: 20px 30px;
  }
  .container .statistics__item h2 {
    font-size: 30px;
  }
  .container .statistics__item p {
    font-size: 10px;
  }
  .container .website-speed {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    text-align: center;
  }
  .container .website-speed form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .plans .container .plans__blog {
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .plans .container .plans__blog_item {
    padding: 50px 96px;
  }
  .plans .container .plans__blog_item h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .container .experts__profile {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .carousel-wrapper .carousel {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer {
    padding: 30px 0 40px;
  }
  .footer .container .footer-container {
    grid-gap: 35px;
  }
  .footer .container .footer-container .footer__list .first-item {
    margin-bottom: 20px;
  }
  .footer .container .footer-container .footer__list_item {
    font-size: 10px;
  }
  .footer .container .copyright {
    font-size: 10px;
  }
}

@media (min-width: 375px) and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .d-none {
    display: none;
  }
  .main-title-rwd {
    font-size: 36px;
  }
  .main-text-rwd {
    font-size: 14px;
  }
  .title-rwd {
    font-size: 30px;
    line-height: 44px;
  }
  .title-sm-rwd {
    font-size: 18px;
  }
  .text-sm-rwd {
    font-size: 13px;
  }
  .text-rwd {
    font-size: 14px;
  }
  .btn {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 20px;
  }
  .mobile-d-none {
    display: none;
  }
  .container .header__nav {
    display: none;
  }
  .container .header .menu-icon {
    display: block;
  }
  .container .main-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .container .main-section__content_btn-row_mr {
    margin-right: 10px;
  }
  .container .partners-section {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .solution-section {
    background-image: none;
    padding-top: 40px;
  }
  .solution-section .container .solution-section__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .container .opportunity-sec {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 30px 0;
  }
  .container .opportunity-sec__item {
    padding: 18px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
  }
  .container .opportunity-sec__item_context h3 {
    margin-top: 0px;
  }
  .container .opportunity-sec__item_context p {
    margin-bottom: 26px;
  }
  .container .opportunity-sec__item_context a {
    font-size: 14px;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 56%;
        grid-template-columns: 40% 56%;
    grid-gap: 4%;
    padding: 20px 20px 50px;
    text-align: left;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog_context h3 {
    margin-bottom: 10px;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog_context p {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog_context button {
    font-size: 10px;
    padding: 10px 30px;
  }
  .container .questioning-sec {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
  }
  .container .questioning-sec__photo {
    position: relative;
  }
  .container .questioning-sec__photo img {
    position: initial;
    top: 0;
    z-index: 0;
    left: 0;
    max-width: 950px;
    width: 100%;
  }
  .container .questioning-sec__content .text-mb {
    margin-bottom: 40px;
  }
  .container .questioning-sec__content_item {
    margin-top: 30px;
  }
  .container .questioning-sec__content_item-text h4 {
    font-size: 18px;
  }
  .container .questioning-sec__content_item-text p {
    font-size: 12px;
  }
  .container .statistics {
    padding: 20px 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .statistics__item h2 {
    font-size: 20px;
  }
  .container .statistics__item p {
    font-size: 8px;
  }
  .container .website-speed {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    text-align: center;
    padding: 50px 0;
    margin-top: 0;
  }
  .container .website-speed form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .container .website-speed form button {
    margin: 30px auto;
  }
  .plans .container .plans__blog {
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .plans .container .plans__blog_item {
    padding: 50px 30px;
  }
  .plans .container .plans__blog_item h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .container .experts {
    padding: 50px 0;
  }
  .container .experts .text-m {
    width: 68%;
  }
  .container .experts__profile {
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carousel-wrapper {
    padding: 50px 0;
  }
  .carousel-wrapper .text-m {
    width: 68%;
  }
  .carousel-wrapper .carousel {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer {
    padding: 30px 0 40px;
  }
  .footer .container .footer-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
  }
  .footer .container .footer-container .footer__list .first-item {
    margin-bottom: 20px;
  }
  .footer .container .footer-container .footer__list_item {
    font-size: 10px;
  }
  .footer .container .footer-container .footer-d-none {
    display: none;
  }
  .footer .container .copyright {
    font-size: 10px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 350px;
  }
  .d-none {
    display: none;
  }
  .main-title-rwd {
    font-size: 36px;
  }
  .main-text-rwd {
    font-size: 14px;
  }
  .title-rwd {
    font-size: 30px;
    line-height: 44px;
  }
  .title-sm-rwd {
    font-size: 18px;
  }
  .text-sm-rwd {
    font-size: 13px;
  }
  .text-rwd {
    font-size: 14px;
  }
  .btn {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 20px;
  }
  .mobile-d-none {
    display: none;
  }
  .container .header__nav {
    display: none;
  }
  .container .header .menu-icon {
    display: block;
  }
  .container .main-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .container .main-section__content_btn-row_mr {
    margin-right: 10px;
  }
  .container .partners-section {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .solution-section {
    background-image: none;
    padding-top: 40px;
  }
  .solution-section .container .solution-section__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .container .opportunity-sec {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 30px 0;
  }
  .container .opportunity-sec__item {
    padding: 8px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 66%;
        grid-template-columns: 30% 66%;
    grid-gap: 4%;
  }
  .container .opportunity-sec__item_context h3 {
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .container .opportunity-sec__item_context p {
    margin-bottom: 18px;
  }
  .container .opportunity-sec__item_context a {
    font-size: 14px;
  }
  .choice-sec .container .choice-sec__content .text_ma {
    width: 90%;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 56%;
        grid-template-columns: 40% 56%;
    grid-gap: 4%;
    padding: 20px 2px 50px;
    text-align: left;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog_context h3 {
    margin-bottom: 10px;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog_context p {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .choice-sec .container .choice-sec__content_blogs-wrapper .choice-sec__content_blog_context button {
    font-size: 10px;
    padding: 10px 30px;
  }
  .container .questioning-sec {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
  }
  .container .questioning-sec__photo {
    position: relative;
  }
  .container .questioning-sec__photo img {
    position: initial;
    top: 0;
    z-index: 0;
    left: 0;
    max-width: 950px;
    width: 100%;
  }
  .container .questioning-sec__content .text-mb {
    margin-bottom: 40px;
  }
  .container .questioning-sec__content_item {
    margin-top: 30px;
  }
  .container .questioning-sec__content_item-text h4 {
    font-size: 18px;
  }
  .container .questioning-sec__content_item-text p {
    font-size: 12px;
  }
  .container .statistics {
    padding: 20px 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .statistics__item h2 {
    font-size: 20px;
  }
  .container .statistics__item p {
    font-size: 8px;
  }
  .container .website-speed {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    text-align: center;
    padding: 50px 0;
    margin-top: 0;
  }
  .container .website-speed form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .container .website-speed form .inputs input {
    font-size: 10px;
    padding: 10px 12px;
  }
  .container .website-speed form button {
    margin: 30px auto;
  }
  .plans .container .plans__blog {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .plans .container .plans__blog_item {
    padding: 50px 30px;
  }
  .plans .container .plans__blog_item h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .container .experts {
    padding: 50px 0;
  }
  .container .experts .text-m {
    width: 68%;
  }
  .container .experts__profile {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carousel-wrapper {
    padding: 50px 0;
  }
  .carousel-wrapper .text-m {
    width: 68%;
  }
  .carousel-wrapper .carousel {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer {
    padding: 30px 0 40px;
  }
  .footer .container .footer-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .footer .container .footer-container .footer__list .first-item {
    margin-bottom: 20px;
  }
  .footer .container .footer-container .footer__list_item {
    font-size: 10px;
  }
  .footer .container .footer-container .footer-d-none {
    display: none;
  }
  .footer .container .copyright {
    font-size: 10px;
  }
}
/*# sourceMappingURL=main.css.map */